/* Sizes for the bigger menu */
header.large{ height: 120px; line-height: 100px;}
header.large .logo-centro {background:url(../images/logo_blanco.svg) center center no-repeat; bottom: 30px;}
header.large img{ width: 100%; height: auto; }
header.large .collapse { margin-top: 45px; }
header.large a { color: #ffffff; margin: 0 8px;}
header.large h5 { margin-left: 0px; }
header.large .logo-esential:before {content:url(../images/logo_blanco.svg);}
header.large .a-link-logo { margin-top: -18px;}
header.large .a-link-logo:hover { background: none;}
/* Sizes for the smaller menu */
header.small{ height: 50px; background: #FFFFFF; line-height: 30px; }
header.small .logo-centro {background:url(../images/logo_color.svg) center center no-repeat; bottom: 11px;}
header.small img{ width: 100%; height: auto; margin-top: -10px; }
header.small .collapse li { margin-top: 0px; }
header.small li a { color: #008751; }
header.small a { color: #008751; margin: 0 8px;}
header.small h5 { margin-left: 205px; }
header.small .logo-esential:before {content:url(../images/logo_color.svg);}
header.small .a-link-logo { margin-top: -31px; text-decoration:none;}
header.small .a-link-logo:hover { background: none;}
header,nav, a, img, li{
  transition: all 1s;
  -moz-transition: all 1s; /* Firefox 4 */
  -webkit-transition: all 1s; /* Safari and Chrome */
  -o-transition: all 1s; /* Opera */
}